body {
    margin: 5px;
    padding: 0;
    background: #050505 url(../img/img01.jpg) cover repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    /*background: #ffffff url(../img/img05.jpg) repeat;*/
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
}

/* Header */
#header-wrapper {
    overflow: hidden;
}

#header {
    margin: 0 auto;
}

/* Logo */
#logo {
    text-align: center;
    margin: 1em auto 0;
    padding: 0;
    color: #ffffff;
}

#logo h1 {
    letter-spacing: -2px;
    font-size: 3.8em;
    margin: 0;
    padding: 0;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

#logo p {
    letter-spacing: -1px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #8e8e8e;
    padding-bottom: 1em;
}

#logo p a {
    color: #8e8e8e;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}


/* Search */
#search {
    width: 100%;
    padding: 20px 0;
}


#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 55%;
    padding: 10px;
    border: 1px solid #e7ebed;
    background: #ffffff;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5d781d;
}

#search-submit {
    width: 25%;
    border: none;
    background: #b9b9b9;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

/* Menu */
#menu {
    margin: 5px auto;
    width: 100%;
}

#menu ul {
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    margin-bottom: 1px;
    text-align: center;
}

#menu a {
    padding: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #1f1f1f;
    list-style: none;
    border: none;
    display: block;
}

#menu a:hover,
#menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    background-size: 100%;
    text-decoration: none;
    color: #ffffff;
}

/* Page */
#page {
    margin: auto;
    padding: 30px 10px;
    box-sizing: content-box;
}

/* Content */
#content {
    padding: 0;
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
    width: 100%;
}

.post .title {
    padding: 7px 0 0 0;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding: 10px 0 0 0;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


.post .entry {
    padding: 0 0 40px 0;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.more {
    display: block;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: block;
    width: 88px;
    padding: 5px 5px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    margin: 0;
    padding: 30px 0 0 10px;
    width: 90%;
    height: auto;
    box-sizing: content-box;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
    display: block;
}

#sidebar li ul {
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0 0 0 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}


#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}


/* Footer */
#footer {
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: auto;
    padding: 0 0 2em;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
    width: 75%;
}

#footer a {
    color: #5e5e5e;
}

#banner {
    margin: 0 auto;
    background: url(../img/img03.png) no-repeat left bottom;
}

#banner img {
    height: auto;
    width: 100%;
}


@media all and (min-width: 600px) {
    nav li {
        display: inline-block;
        width: 50%;
    }

    #sidebar {
        margin: auto;
    }

    #page {
    }

    .links {
        text-align: center;
    }
}

@media all and (min-width: 850px) {
    body {
        width: 100%;
    }

    #menu {
        margin: auto;
        width: 100%;
    }

    nav li {
        width: 49%;
    }


    #content {
        float: right;
        width: 100%;
        /*margin-left: -3em;*/
    }

    #sidebar {
        width: calc(100% / 3 - 1);
        float: left;
        margin-left: 2em;
    }

    #page {
        width: 100%;
        box-sizing: content-box;
    }

}

@media all and (min-width: 1000px) {
    nav li {
        display: inline-block;
        width: calc(100% / 6.15);
    }

    #sidebar {
        width: 25%;
        display: inline-block;
    }

    #content {
        width: 67%;
    }

    #page {
        width: 100%;
        box-sizing: content-box;
    }
}
